python-dotenv
groq
tavily-python
requests
PyPDF2
phidata
openai
geopy
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
tiktoken
langchain-deepseek
langchain-core

